<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotohomepage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Order Analysis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-row>
    <ion-col class="navy-blue">
      <div text-center class="padding-vertical-8 text-white">
        <ion-icon float-right margin-right name="ios-funnel" (click)="ngIfCtrl()"></ion-icon>
      </div>

    </ion-col>
    <ion-col col-12>
      <div col-12 text-center>Total Order Count</div>
      <canvas #pieCanvas (click)="goToSlide()"></canvas>
    </ion-col>
  </ion-row>
  <div *ngIf="hide">



    <ion-row>

      <ion-item col-6>
        <ion-label floating>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="search.startDate"></ion-datetime>

      </ion-item>

      <ion-item col-6>
        <ion-label floating>End Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="search.endDate"></ion-datetime>
      </ion-item>

    </ion-row>
    <ion-item *ngIf="users">
      <ion-label floating>Select Users</ion-label>
      <ion-select [(ngModel)]="search.user" multiple="false">
        <ion-option value=0 selected>All</ion-option>
        <ion-option *ngFor="let user of users" [value]="user.userid">{{user.fullname | uppercase}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label floating>Select Dealer</ion-label>
      <ion-select [(ngModel)]="search.selectedDealer" multiple="false">
        <ion-option value=0 selected>All</ion-option>
        <ion-option *ngFor="let dealer of dealerlist" [value]="dealer.dealerid">{{dealer.dealername | uppercase}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
        <ion-label floating>Select Status</ion-label>
        <ion-select [(ngModel)]="search.orderstatus"  multiple="false" >
            <ion-option *ngFor="let status of statuslist,let i = index"  [value]="status.PK_StatusID" [selected]="status.StatusName==orderstatusname">{{status.StatusName}}</ion-option>
        </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label floating>Select Status</ion-label>
      <ion-select [(ngModel)]="search.orderstatus" multiple="false">
        <ng-container *ngFor="let status of statuslist,let i = index">
          <ion-option [selected]="status.StatusName == orderstatusname" [value]="status.PK_StatusID">{{status.StatusName}}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Order No.</ion-label>
      <ion-input type="text" [(ngModel)]="search.ordernumber"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col padding>
        <button ion-button block class="jb-blue text-white" (click)="SearchData()">Search</button>
      </ion-col>
      <ion-col padding>
        <button ion-button block class="jb-blue text-white" (click)="ResetData()">Reset</button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row margin-top class="jb-blue text-white">
    <ion-col>Order History</ion-col>
  </ion-row>
  <ion-row id="p-list" name="p-list">
    <ion-col>
      <ion-list style="border:1px solid #336699 " *ngIf="orders!=0">

        <ion-item class="card-custom-bg" *ngFor="let order of data" (click)="toggleDetails(order)">
          <ion-icon color="primary" item-right [name]="order.icon"></ion-icon>
          <p>
            <span ion-text class="text-jb-blue" style="font-size:12px;">Order Date : {{order.OrderDate| date}}</span>
          </p>

          <p>
            <span ion-text class="text-jb-blue">Dealer Name : {{order.dealername}}</span>
          </p>
          <p>
            <span ion-text class="text-jb-blue">Order number : {{order.OrderNo}}</span>
          </p>
          <p>
            <span ion-text color="dark" style="font-size:12px;">Qty.: {{order.Quantity}}</span>
            <span>&nbsp;</span>
            <span *ngIf="order.status == 'Approved'" ion-text color="secondary">Status : {{order.OrderStatus}}</span>
            <span *ngIf="order.status != 'Approved'" ion-text color="danger">Status : {{order.OrderStatus}}</span>
          </p>
          <p>
            <span ion-text class="text-jb-blue" *ngIf="usergrpId==1">User Name : {{order.FullName}}</span>
          </p>
          <div *ngIf="order.showDetails">
            <ion-item *ngFor="let products of order.product">
              <div *ngIf="products.OrderQTY!='0'" style="white-space: normal;">
                <p>
                  <span ion-text class="text-jb-blue">Category Name : {{products.CategoryName}}</span>
                </p>
                <p>
                  <span ion-text class="text-jb-blue">Product Name : {{products.ProductName}}</span>
                </p>
                <p>
                  <span ion-text class="text-jb-blue">Order Qty : {{products.OrderQTY}}</span>
                </p>
              </div>
            </ion-item>

          </div>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>


</ion-content>